html
{
    /*background-color: #467599;*/
    background-color: #f6f8fb;
}
h1, .colorText, a
{
    color: #D64045;
}
p
{
    color: #1d3354;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*p, a, .colorText
{
    font-size: large;
}*/

a:hover
{
    color: #DB575B;
}
a:visited
{
    /*color: #D4353A;*/
    color: #467599;
}
h1, h2
{
    text-align: center;
}
#portrait
{
    /*max-height: 75%;
    max-width: 50%;
    align-self: center;*/
    width: 150%;
    height: 100%;
    margin: auto;
}

.flex-container
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.vertical-flex-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header
{
    background-color: #98d8db;
    margin: 0px;
    border: 1px;
}

#AboutMeFlex
{
    justify-content: center;
    margin-left: 20vw;
    margin-right: 20vw;
}

#AboutMe
{
    margin-bottom: 75px;
}

.grid/*main, #AboutMe, #Changeling, #BraveMagnet, #TeamBuilder*/
{
    display: grid;
}
.grid/*#AboutMe, #Changeling, #BraveMagnet, #TeamBuilder*/
{
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: auto;
}
.grid-item-1
{
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 20px;
    margin: auto;
}
.grid-item-2
{
    grid-column-start: 1;
    /*grid-column-end: 2;*/
    grid-row-start: 2;
    padding: 20px;
    margin: auto;
}
.grid-item-3
{
    grid-column-start: 2;
    /*grid-column-end: 4;*/
    grid-row-start: 2;
    padding: 20px;
    margin: auto;
}